In [109]:
import pandas as pd

## Load Data

In [136]:
train = pd.read_csv('data/train.csv')
weather = pd.read_csv('data/weather.csv')
train['id'] = train.index
# train.shape

In [137]:
# Create a function to rename columns to lower case
def columns_rename(columns):
    """ Rename column names to lower case"""
    return columns.lower()

train.columns = [columns_rename(col) for col in train.columns]
weather.columns = [columns_rename(col) for col in weather.columns]

In [138]:
train['date'] = pd.to_datetime(train['date'])
weather['date'] = pd.to_datetime(weather['date'])

In [139]:
# set date to be index
# weather.set_index('date', inplace=True)

# sort index
# weather.sort_index(inplace=True)

In [140]:
# store weather data for station 1 and 2 separately
station1 = weather[weather['station']==1].copy()
station2 = weather[weather['station']==2].copy()

(1472, 22)
(1472, 22)

In [141]:
"""
station1['latitude'] = 41.995
station1['longitude'] = -87.9336


station2['latitude'] = 41.78611
station2['longitude'] = -87.75222
"""

"\nstation1['latitude'] = 41.995\nstation1['longitude'] = -87.9336\n\n\nstation2['latitude'] = 41.78611\nstation2['longitude'] = -87.75222\n"

In [142]:
# train_loc = train[['id', 'latitude', 'longitude']].copy()

In [143]:
# create 2 columns to show the distance of each trap to weather station1 and station2
# Station 1: CHICAGO O'HARE INTERNATIONAL AIRPORT Lat: 41.995 Lon: -87.933 Elev: 662 ft. above sea level
train['dist_s1'] = train.apply(
    lambda row: ((row['latitude'] - 41.995)**2 + (row['longitude'] - (-87.9336))**2)**0.5,
    axis = 1
)

# Station 2: CHICAGO MIDWAY INTL ARPT Lat: 41.786 Lon: -87.752 Elev: 612 ft. above sea level
train['dist_s2'] = train.apply(
    lambda row: ((row['latitude'] - 41.78611)**2 + (row['longitude'] - (-87.75222))**2)**0.5,
    axis = 1
)

In [149]:
# create a column to indicate the nearest weather station - 1 or 2 - for each trap
train['nearest_stat'] = train.apply(
    lambda row: 1 if row['dist_s1'] > row['dist_s2'] else 2,
    axis = 1
)

In [153]:
df = pd.merge(train, weather, how='left', left_on= ['date', 'nearest_stat'], right_on = ['date', 'station'])

In [158]:
df[['date', 'address', 'species', 'trap', 'nearest_stat']].head()

,date,address,species,trap,nearest_stat
0,2007-05-29,"4100 North Oak Park Avenue, Chicago, IL 60634,...",CULEX PIPIENS/RESTUANS,T002,2
1,2007-05-29,"4100 North Oak Park Avenue, Chicago, IL 60634,...",CULEX RESTUANS,T002,2
2,2007-05-29,"6200 North Mandell Avenue, Chicago, IL 60646, USA",CULEX RESTUANS,T007,2
3,2007-05-29,"7900 West Foster Avenue, Chicago, IL 60656, USA",CULEX PIPIENS/RESTUANS,T015,2
4,2007-05-29,"7900 West Foster Avenue, Chicago, IL 60656, USA",CULEX RESTUANS,T015,2

In [157]:
train.head()

,date,address,species,block,street,trap,addressnumberandstreet,latitude,longitude,addressaccuracy,nummosquitos,wnvpresent,id,dist_s1,dist_s2,station,nearest_stat
0,2007-05-29,"4100 North Oak Park Avenue, Chicago, IL 60634,...",CULEX PIPIENS/RESTUANS,41,N OAK PARK AVE,T002,"4100 N OAK PARK AVE, Chicago, IL",41.954690,-87.800991,9,1,0,0,0.138600,0.175493,2,2
1,2007-05-29,"4100 North Oak Park Avenue, Chicago, IL 60634,...",CULEX RESTUANS,41,N OAK PARK AVE,T002,"4100 N OAK PARK AVE, Chicago, IL",41.954690,-87.800991,9,1,0,1,0.138600,0.175493,2,2
2,2007-05-29,"6200 North Mandell Avenue, Chicago, IL 60646, USA",CULEX RESTUANS,62,N MANDELL AVE,T007,"6200 N MANDELL AVE, Chicago, IL",41.994991,-87.769279,9,1,0,2,0.164321,0.209576,2,2
3,2007-05-29,"7900 West Foster Avenue, Chicago, IL 60656, USA",CULEX PIPIENS/RESTUANS,79,W FOSTER AVE,T015,"7900 W FOSTER AVE, Chicago, IL",41.974089,-87.824812,8,1,0,3,0.110780,0.201509,2,2
4,2007-05-29,"7900 West Foster Avenue, Chicago, IL 60656, USA",CULEX RESTUANS,79,W FOSTER AVE,T015,"7900 W FOSTER AVE, Chicago, IL",41.974089,-87.824812,8,4,0,4,0.110780,0.201509,2,2